// xdebug overrides
pre.xdebug-var-dump {
	b {
		color:white;
	}
	font {
		&[color="#3465a4"], &[color="#75507b"] {
			color: #fce94f;
		}
		&[color="#4e9a06"], &[color="#f57900"] {
			color: #4FCC00;
		}
		&[color="#f57900"]:after {
			content: 'f';
		}
		&[color="#cc0000"] {
			color: #559fdc;
		}
	}
}
table.xdebug-error {
	color: black !important;
}
