body{background:#161c1e;color:#d5d9d1;font-family:"Trebuchet MS",Arial,sans-serif;font-size:.75em}
html,body,img{margin:0;padding:0;border:none}
a{text-decoration:none;color:inherit}
.clr{clear:both;visibility:hidden}
#main{margin:10px auto 0;width:60%;min-width:320px}
#hd{color:#fff;margin-bottom:4px;width:100%;font-size:2em}#hd #cpy{float:right;font-size:.45em;color:#aaaca7}
#mn,.frm,#in,#cn{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;overflow:auto;width:100%}
#mn .i,.frm .i{float:left;display:block}#mn .i:before,.frm .i:before,#mn .i:after,.frm .i:after{color:#3465a4;font-weight:bold;font-size:1.3em}
#mn .i:hover:before,.frm .i:hover:before,#mn .i:hover:after,.frm .i:hover:after{color:#aaaca7}
#mn #c,.frm #c{color:#fff;font-weight:bold}#mn #c:before,.frm #c:before,#mn #c:after,.frm #c:after{color:#fff !important}
#mn .s,.frm .s{color:#fff;float:right !important}#mn .s:before,.frm .s:before,#mn .s:after,.frm .s:after{margin:0 !important}
#mn{font-size:1.1em;margin-top:.5em}#mn .i{padding:0}#mn .i:before{content:'/';margin-right:.9em}
#mn .i:after{content:'/';margin-left:.9em}
.frm.mnu .i{padding-bottom:.2em}.frm.mnu .i:before{content:'|';margin-right:.5em}
.frm.mnu .i:after{content:'|';margin-left:.5em}
.frm.inf,.frm.ok,.frm.wrn,.frm.crt{margin:.5em 0;padding:.5em;border-top-left-radius:5px;border-bottom-right-radius:5px}.frm.inf:before,.frm.ok:before,.frm.wrn:before,.frm.crt:before{font-weight:bold;font-family:"Ubuntu Mono","Courier New",Courier,monospace;font-size:1.1em;margin-right:.25em}
.frm.inf{background-color:#3b5065;border-left:1px solid #729fcf;border-right:1px solid #729fcf}.frm.inf:before{color:#98b9dc;content:"(i)"}
.frm.ok{background-color:#446b27;border-left:1px solid #8ae234;border-right:1px solid #8ae234}.frm.ok:before{color:#a4e861;content:"(+)"}
.frm.wrn{background-color:#5f1112;border-left:1px solid #c00;border-right:1px solid #c00}.frm.wrn:before{color:#f00;content:"[!]"}
.frm.crt{background-color:#0b0c0d;border-left:1px solid #c00;border-right:1px solid #c00}.frm.crt:before{color:#f00;content:"!#!"}
#in{color:#fff;font-weight:bold;font-size:1.2em;padding:10px 0 5px 5px}#in #da{color:#d5d9d1;float:right;font-size:.8em;font-weight:normal;margin:0 0 .35em .35em}
#cn{margin-top:.5em;overflow:auto;line-height:1.75}#cn:first-line{font-size:1.3em;font-variant:small-caps}
#cn p,#cn blockquote{text-align:justify;margin:0 0 1em 0}
#cn p{text-indent:1em}
#cn a{border-bottom:1px dashed;display:inline}#cn a:hover{color:#fff;border-bottom:1px solid;display:inline}
#cn code,#cn blockquote{margin:0 0 1em .5em}
#cn blockquote{border-left:3px double #fff;display:inline-block;padding:2px 0 2px 5px}#cn blockquote small{font-size:.9em;color:#aaaca7;display:block}#cn blockquote small:before{font-weight:bold;content:'~ '}
#cn code,#cn .code{font-family:"Ubuntu Mono","Courier New",Courier,monospace}
#cn code{text-align:left;display:block;margin:0 0 1em .5em}
#cn h1,#cn h2,#cn h3{color:#fff;display:block;font-weight:bold;margin:0 0 .5em 0}
#cn h1{font-size:2em}
#cn h2{font-size:1.5em}
#cn h3{font-size:1.17em}
#cn ol,#cn ul{display:block;margin:0 0 1em 0;padding:0 0 0 2em}#cn ol li,#cn ul li{display:list-item}
#cn form{margin:0 0 .5em 1.5em;line-height:1.9em}#cn form input[type=text],#cn form input[type=file],#cn form input[type=password],#cn form input[type=submit],#cn form input[type=search],#cn form textarea{margin:1px 0;padding:1px 4px;font:inherit;color:#d5d9d1;border:none;background:#0d1112}
#cn form input[type=radio],#cn form input[type=checkbox]{margin:1px 3px 0 6px}
#cn form input[type=submit]{border-left:1px solid #aaaca7;border-right:1px solid #aaaca7;border-top:none;border-bottom:none;border-top-left-radius:5px;border-bottom-right-radius:5px}
